In [108]:
import pandas as pd
import numpy as np
import scipy.stats
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity

In [106]:
data = pd.read_csv('ml-100k/u.data',header= None , sep = '\t',names=['user_id' , 'item_id' , 'rating' , 'timestamp'])

In [107]:
data.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [145]:
data.describe()

            user_id        item_id         rating     timestamp
count  100000.00000  100000.000000  100000.000000  1.000000e+05
mean      462.48475     425.530130       3.529860  8.835289e+08
std       266.61442     330.798356       1.125674  5.343856e+06
min         1.00000       1.000000       1.000000  8.747247e+08
25%       254.00000     175.000000       3.000000  8.794487e+08
50%       447.00000     322.000000       4.000000  8.828269e+08
75%       682.00000     631.000000       4.000000  8.882600e+08
max       943.00000    1682.000000       5.000000  8.932866e+08

In [109]:
train_data, val_data = train_test_split(data, test_size=0.2, random_state=42)

In [123]:
x =train_data[train_data['user_id']==1]
x[x['item_id']==2]

       user_id  item_id  rating  timestamp
23171        1        2       3  876893171

In [139]:
num_users = data['user_id'].nunique()
num_items = data['item_id'].nunique()
user_item_matrix = np.zeros((num_users, num_items))

In [140]:
for row in train_data.itertuples():
    user_item_matrix[row.user_id - 1, row.item_id - 1] = row.rating

In [141]:
user_item_matrix

array([[0., 3., 4., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [5., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 5., 0., ..., 0., 0., 0.]])

In [142]:
row_averages = np.ma.mean(np.ma.masked_equal(user_item_matrix, 0), axis=1).data
column_averages = np.ma.mean(np.ma.masked_equal(user_item_matrix, 0), axis=0).data

array([3.6875    , 3.80434783, 2.8       , 4.5       , 2.86231884,
       3.61309524, 3.91343284, 3.74074074, 4.06666667, 4.2       ,
       3.5034965 , 4.43589744, 3.15098039, 4.01190476, 2.92682927,
       4.36538462, 3.13043478, 3.87946429, 3.625     , 3.16666667,
       2.65517241, 3.26732673, 3.6446281 , 4.32692308, 4.01538462,
       2.97647059, 3.28571429, 3.7       , 3.56666667, 3.69444444,
       3.73333333, 3.39393939, 3.66666667, 4.05      , 3.        ,
       4.05882353, 3.66666667, 3.80392157, 3.88235294, 2.87878788,
       3.83333333, 3.76666667, 3.70348837, 3.60526316, 3.58974359,
       4.04347826, 3.61111111, 3.7755102 , 2.69822485, 3.47619048,
       3.64705882, 4.26530612, 3.71428571, 3.69090909, 3.28571429,
       3.70063694, 3.48809524, 3.86324786, 3.93442623, 4.07386364,
       2.75      , 3.37288136, 3.09589041, 3.61077844, 3.88888889,
       3.5       , 3.95      , 2.82758621, 3.83928571, 3.5047619 ,
       3.78125   , 3.83783784, 3.8627451 , 3.64285714, 3.21875   ,
       3.58208955, 3.69090909, 3.4       , 3.97959184, 3.68181818,
       3.34782609, 3.03030303, 3.33613445, 3.81481481, 3.50655022,
       3.55555556, 3.7615894 , 4.1875    , 3.96825397, 4.23140496,
       3.87323944, 3.25471698, 3.2       , 3.640625  , 3.38495575,
       4.325     , 4.14      , 3.64      , 3.53      , 3.11627907,
       2.92857143, 2.63218391, 3.72727273, 2.56976744, 3.42857143,
       3.78      , 2.83333333, 3.5       , 3.41666667, 3.08411215,
       3.4       , 3.80645161, 3.84615385, 3.64705882, 3.86764706,
       3.01754386, 4.04545455, 4.61016949, 3.87943262, 3.44444444,
       3.71186441, 3.96226415, 3.79545455, 3.68421053, 3.39007092,
       3.58974359, 4.        , 3.71223022, 2.65217391, 4.00704225,
       4.08333333, 3.75      , 3.22727273, 3.47058824, 3.40816327,
       4.38709677, 4.41025641, 4.33333333, 4.09090909, 3.4       ,
       3.35714286, 3.53846154, 4.        , 3.64457831, 3.38636364,
       3.43478261, 4.07142857, 3.96078431, 2.8       , 3.78571429,
       3.99206349, 4.29347826, 2.8       , 3.90697674, 2.65      ,
       3.625     , 3.86486486, 3.74468085, 3.42352941, 3.97894737,
       2.5       , 3.57142857, 3.31578947, 4.02      , 3.92      ,
       3.35294118, 3.3       , 3.36842105, 3.97058824, 3.80952381,
       3.43478261, 3.2173913 , 4.15151515, 3.62773723, 3.73076923,
       3.72      , 3.58947368, 3.65876777, 3.06451613, 3.89130435,
       1.49295775, 3.85714286, 3.13953488, 3.60591133, 4.        ,
       3.34782609, 4.025     , 3.8       , 3.92666667, 3.26530612,
       3.65217391, 3.55882353, 3.27083333, 2.92307692, 3.32051282,
       3.5862069 , 3.26470588, 3.28776978, 3.03225806, 4.02873563,
       3.02857143, 2.6       , 3.37142857, 3.42424242, 2.83333333,
       2.10869565, 3.20855615, 3.74074074, 2.91304348, 4.05504587,
       3.22580645, 3.75      , 4.2371134 , 3.89814815, 3.76315789,
       3.8125    , 2.88333333, 3.56521739, 3.73913043, 3.78947368,
       3.60714286, 2.97704918, 2.9875    , 3.04237288, 4.52      ,
       3.74285714, 3.5       , 3.05555556, 2.58333333, 3.82727273,
       3.68421053, 3.95890411, 4.42307692, 3.1312336 , 3.90909091,
       3.46534653, 4.09090909, 3.23076923, 4.27559055, 3.61111111,
       3.38888889, 4.66666667, 3.6       , 3.62886598, 3.2       ,
       2.96103896, 4.04545455, 3.51219512, 4.0952381 , 3.88043478,
       3.72307692, 4.4       , 3.9625    , 3.03030303, 2.57142857,
       3.98224852, 3.95121951, 3.7       , 3.89473684, 4.125     ,
       4.18181818, 3.12403101, 4.04301075, 4.18      , 3.71794872,
       3.35      , 3.93288591, 2.97761194, 2.97211155, 4.30701754,
       3.59459459, 4.4047619 , 3.68421053, 4.14814815, 3.08333333,
       3.48550725, 3.57777778, 4.15789474, 3.31304348, 3.56666667,
       3.19047619, 3.47058824, 4.12195122, 3.45945946, 3.92857143,
       3.73684211, 4.05769231, 3.875     , 2.9047619 , 3.36      ,
       3.65929204, 4.24761905, 3.03536977, 3.47413793, 4.22727273,
       4.20512821, 3.45751634, 4.02912621, 3.46460177, 3.72222222,
       3.50666667, 2.42857143, 3.36828645, 3.40909091, 3.40340909,
       3.86206897, 3.80232558, 3.75776398, 3.42857143, 4.14285714,
       3.83116883, 4.4       , 3.57619048, 3.69791667, 3.98630137,
       3.48333333, 3.47058824, 3.69402985, 3.52941176, 3.71666667,
       3.73076923, 4.26190476, 3.52702703, 4.31481481, 3.42477876,
       3.32704403, 3.31081081, 3.4375    , 3.36956522, 4.50833333,
       3.74137931, 4.12258065, 3.72727273, 3.53531599, 3.45      ,
       2.98148148, 3.85714286, 4.09090909, 4.01442308, 4.05714286,
       3.8125    , 3.43529412, 4.00561798, 3.64      , 3.66486486,
       3.22151899, 3.60126582, 3.84444444, 3.21052632, 4.30769231,
       4.4       , 3.7       , 3.31818182, 3.72105263, 4.1       ,
       3.70588235, 4.12068966, 3.65714286, 4.04545455, 3.95238095,
       3.8       , 3.58823529, 3.03125   , 3.61111111, 3.34782609,
       4.30434783, 4.1025641 , 3.33333333, 4.125     , 3.73333333,
       4.11904762, 4.32075472, 3.71764706, 3.37272727, 3.80952381,
       3.73076923, 4.09090909, 3.43870968, 4.        , 3.18181818,
       3.85576923, 3.55813953, 4.42372881, 4.19047619, 3.31465517,
       3.63157895, 3.41434263, 4.22222222, 3.70952381, 3.71428571,
       3.7755102 , 4.09302326, 3.33802817, 3.78813559, 3.79545455,
       3.34210526, 3.73493976, 3.72661871, 2.89922481, 3.59090909,
       3.15254237, 3.76785714, 3.71428571, 3.33333333, 1.79238754,
       3.51263538, 3.44919786, 3.66666667, 3.63803681, 3.13636364,
       3.76595745, 4.02272727, 3.72972973, 3.76190476, 4.28571429,
       3.79551122, 3.23728814, 2.72222222, 4.4       , 4.25      ,
       3.95652174, 3.53246753, 3.60377358, 3.34210526, 2.99324324,
       3.80769231, 4.43478261, 4.        , 3.42900302, 3.53703704,
       3.45      , 3.66      , 3.51515152, 3.86842105, 3.30743243,
       3.72413793, 3.54950495, 4.        , 3.86363636, 4.07317073,
       3.57142857, 3.12844037, 3.47368421, 3.68181818, 1.97391304,
       2.8       , 3.54385965, 3.38461538, 3.72413793, 3.86915888,
       2.72727273, 3.43902439, 3.26829268, 2.97849462, 3.50318471,
       3.43888889, 4.00854701, 3.69736842, 3.39393939, 3.42105263,
       2.95      , 4.16666667, 2.90291262, 4.05      , 3.43076923,
       3.45977011, 3.66666667, 3.95652174, 4.55882353, 3.60416667,
       3.45833333, 4.22748815, 3.875     , 4.07968127, 3.57894737,
       3.28125   , 4.37037037, 3.40659341, 3.37575758, 3.68085106,
       3.975     , 3.4       , 3.04081633, 4.        , 3.08333333,
       3.16666667, 3.62087912, 3.37168142, 3.78125   , 2.84782609,
       3.77777778, 3.5       , 3.8627451 , 3.92105263, 3.95906433,
       2.97029703, 3.17567568, 3.27118644, 3.83333333, 3.3442623 ,
       3.77192982, 3.21428571, 4.14393939, 3.61835749, 3.51807229,
       3.65196078, 4.7804878 , 3.86956522, 2.55555556, 2.76      ,
       3.94736842, 4.23529412, 4.33333333, 3.80254777, 3.        ,
       4.13333333, 3.14285714, 3.60714286, 4.17948718, 3.14285714,
       3.18487395, 4.28      , 4.3253012 , 3.51882845, 3.15789474,
       3.15      , 3.77358491, 3.70833333, 3.65625   , 3.89189189,
       3.        , 4.11320755, 3.37980769, 4.13636364, 3.94252874,
       3.88617886, 2.89285714, 3.6119403 , 4.14634146, 3.71698113,
       3.62162162, 3.44036697, 3.51923077, 2.82608696, 3.54887218,
       3.77777778, 3.63636364, 3.68032787, 3.57894737, 3.70588235,
       3.90510949, 3.11267606, 4.17045455, 3.55208333, 4.0952381 ,
       4.16216216, 3.70454545, 4.26666667, 3.52542373, 3.43421053,
       3.03610108, 3.5483871 , 3.72      , 3.46428571, 4.5       ,
       3.39837398, 3.90434783, 3.40909091, 3.44642857, 2.72222222,
       3.42857143, 3.1875    , 3.72916667, 3.59459459, 3.2173913 ,
       3.46428571, 3.79354839, 2.42105263, 3.49152542, 3.45945946,
       4.        , 3.30188679, 4.41666667, 3.52941176, 3.60655738,
       3.312     , 3.08219178, 3.78453039, 3.5       , 3.44444444,
       3.64864865, 3.86941581, 3.55555556, 3.47619048, 3.10843373,
       3.71428571, 3.66666667, 3.55555556, 3.88571429, 3.63380282,
       3.10483871, 3.8       , 3.75675676, 3.36363636, 3.73417722,
       3.94329897, 3.88888889, 3.71428571, 2.33333333, 3.72580645,
       3.93333333, 3.2173913 , 4.30434783, 3.31034483, 3.85227273,
       3.63636364, 2.62365591, 3.26136364, 3.53623188, 3.79569892,
       3.60740741, 3.40625   , 3.71052632, 3.49074074, 3.42857143,
       2.375     , 3.32608696, 4.75      , 4.02105263, 3.30337079,
       3.17647059, 3.67326733, 3.24489796, 3.38679245, 3.25925926,
       4.53846154, 2.56470588, 3.61818182, 2.921875  , 4.24742268,
       4.25806452, 3.62781955, 3.77439024, 3.9375    , 4.03157895,
       2.97058824, 3.85106383, 3.27530364, 3.72727273, 3.18623482,
       3.64285714, 3.        , 2.67256637, 3.675     , 2.91818182,
       2.38095238, 3.30769231, 3.78431373, 3.76712329, 2.60540541,
       4.01052632, 3.94117647, 3.50806452, 3.70454545, 3.46017699,
       3.68715084, 3.97435897, 3.57894737, 3.24705882, 3.87179487,
       3.56521739, 3.28      , 3.82142857, 3.66666667, 3.71428571,
       3.67164179, 3.51219512, 3.44      , 3.56862745, 3.93333333,
       3.22222222, 3.17571885, 3.27868852, 3.44927536, 2.46153846,
       4.54385965, 3.38461538, 4.94736842, 3.85714286, 3.18888889,
       4.21428571, 3.3030303 , 3.14173228, 4.12195122, 3.25806452,
       3.76190476, 3.67391304, 2.83157895, 3.08547009, 3.68421053,
       4.2       , 2.125     , 3.51282051, 3.78947368, 3.66666667,
       3.25      , 3.55026455, 3.15662651, 3.57017544, 3.70833333,
       3.87700535, 3.77952756, 2.92307692, 3.45945946, 3.36220472,
       3.85981308, 3.76056338, 3.71428571, 3.04081633, 3.92      ,
       3.48175182, 3.61764706, 3.33333333, 2.109375  , 3.75      ,
       3.15789474, 3.02298851, 3.52941176, 2.78947368, 3.09677419,
       3.34920635, 3.52941176, 3.01219512, 3.57446809, 3.41860465,
       3.19047619, 3.85185185, 3.77868852, 3.60606061, 3.5625    ,
       3.3625    , 3.41666667, 3.46153846, 3.86363636, 3.        ,
       3.45098039, 4.05829596, 3.74390244, 3.66403162, 3.06896552,
       3.45112782, 3.23333333, 3.63043478, 3.5       , 3.1       ,
       3.09411765, 3.35820896, 3.88848921, 4.        , 3.29032258,
       2.92      , 3.05263158, 3.80769231, 3.61538462, 4.04761905,
       3.36986301, 4.5       , 3.24074074, 3.        , 4.19148936,
       3.71153846, 3.88      , 3.3852459 , 2.09039548, 3.80769231,
       3.60493827, 3.92307692, 3.0625    , 4.07692308, 3.85106383,
       3.86111111, 2.81382979, 3.79166667, 3.70967742, 3.61904762,
       3.93406593, 3.12195122, 3.31553398, 3.74074074, 3.07065217,
       3.66666667, 3.12820513, 3.55813953, 4.4       , 3.16806723,
       3.58510638, 3.        , 3.29100529, 4.        , 3.80952381,
       4.04545455, 3.61666667, 3.18518519, 3.61023622, 3.37864078,
       3.69090909, 3.87058824, 4.14285714, 3.52941176, 4.45      ,
       4.23529412, 3.47368421, 2.75      , 2.92307692, 3.77070064,
       3.75      , 3.40740741, 3.38888889, 4.17391304, 3.13333333,
       4.31372549, 3.        , 4.        , 2.625     , 3.58823529,
       3.80487805, 3.16      , 2.96341463, 3.44230769, 3.66666667,
       3.59259259, 2.78947368, 3.0776699 , 3.97619048, 4.2195122 ,
       4.02702703, 3.        , 4.12987013, 3.22      , 4.12903226,
       3.92592593, 3.72      , 2.76047904, 3.52238806, 3.19230769,
       3.74919614, 3.09565217, 4.3495935 , 4.82352941, 4.6       ,
       3.50609756, 3.525     , 2.96969697, 3.27325581, 3.26315789,
       3.25      , 3.2       , 3.35714286, 3.92307692, 3.25396825,
       4.03125   , 4.3880597 , 3.22580645, 3.79111111, 2.2       ,
       2.85714286, 4.25974026, 2.95209581, 2.86363636, 3.47641509,
       3.39325843, 3.36363636, 3.11764706, 3.8       , 4.23287671,
       4.23529412, 3.73846154, 3.22413793, 3.76      , 3.46975089,
       3.38461538, 3.99056604, 3.9       , 3.88571429, 3.36363636,
       3.3715847 , 3.97777778, 4.29411765, 3.45748988, 3.82291667,
       4.05405405, 3.98918919, 3.5       , 3.62626263, 3.93333333,
       3.0137457 , 4.00645161, 3.4       , 3.51351351, 2.575     ,
       3.84946237, 3.48571429, 3.94495413, 3.76470588, 3.23529412,
       3.75757576, 4.59322034, 3.55555556, 4.32      , 3.19148936,
       3.78571429, 3.84444444, 3.50458716, 3.31578947, 2.95      ,
       3.37795276, 3.51612903, 3.39506173, 3.48333333, 3.13043478,
       3.26666667, 3.39622642, 4.2       , 3.79104478, 3.22727273,
       3.3125    , 3.69148936, 4.7037037 , 3.75609756, 2.90740741,
       3.8       , 3.99489796, 2.62337662, 3.7080292 , 3.87096774,
       3.78448276, 3.28571429, 3.28735632, 4.36363636, 3.42696629,
       4.23529412, 4.26153846, 3.39416058])

In [148]:
column_averages.shape

(1682,)

In [143]:
for i in range(len(user_item_matrix)):
    for j in range(len(user_item_matrix[i])):
        if user_item_matrix[i][j]!=0:
            user_item_matrix[i][j] = user_item_matrix[i][j] - row_averages[i]

# collabrative filter based on items similarity

In [154]:
user_similarity = cosine_similarity(user_item_matrix)
predicted_ratings = []
actual_ratings = []

for row in val_data.itertuples():
    user_id = row.user_id - 1
    item_id = row.item_id - 1
    actual_rating = row.rating
    similar_items = np.argsort(user_similarity[user_id])[-100:]
    mean_all = 3.529860
    predicted_rating = np.mean(user_item_matrix[user_id, similar_items]) +mean_all+column_averages[item_id]-mean_all+row_averages[user_id]-mean_all
    predicted_ratings.append(predicted_rating)
    actual_ratings.append(actual_rating)

predicted_ratings = np.array(predicted_ratings)
actual_ratings = np.array(actual_ratings)
mae = mean_absolute_error(actual_ratings, predicted_ratings)
rmse = np.sqrt(mean_squared_error(actual_ratings, predicted_ratings))

print("Mean Absolute Error:", mae)
print("Root Mean Squared Error:", rmse)

Mean Absolute Error: 0.7613221108926315
Root Mean Squared Error: 0.9735438980351925

## part 2

In [155]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity
ratings_data = pd.read_csv('ml-100k/u.data', sep='\t', names=['user_id', 'item_id', 'rating', 'timestamp'])
movies_data = pd.read_csv('ml-100k/u.item', sep='|', encoding='latin-1', header=None)

In [156]:
movies_data.columns = ['item_id', 'title', 'release_date', 'video_release_date', 'imdb_url', 'unknown',
'Action',
'Adventure',
'Animation',
'Childrens',
'Comedy',
'Crime',
'Documentary',
'Drama',
'Fantasy',
'Film-Noir',
'Horror',
'Musical',
'Mystery',
'Romance',
'Sci-Fi',
'Thriller',
'War',
'Western']
merged_data = pd.merge(ratings_data, movies_data[['item_id', 'title', 'unknown',
'Action',
'Adventure',
'Animation',
'Childrens',
'Comedy',
'Crime',
'Documentary',
'Drama',
'Fantasy',
'Film-Noir',
'Horror',
'Musical',
'Mystery',
'Romance',
'Sci-Fi',
'Thriller',
'War',
'Western']], on='item_id')

In [165]:
genre_columns = movies_data.columns[5:-1]
genres = movies_data[genre_columns]
item_similarity = cosine_similarity(genres, genres)

Index(['unknown', 'Action', 'Adventure', 'Animation', 'Childrens', 'Comedy',
       'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
       'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War'],
      dtype='object')

In [168]:
predicted_ratings = []
actual_ratings = []
for row in val_data.itertuples():
    user_id = row.user_id - 1
    item_id = row.item_id - 1
    actual_rating = row.rating
    similar_items = np.argsort(item_similarity[item_id])[-100:]
    mean_all = 3.529860
    predicted_rating = np.mean(user_item_matrix[user_id, similar_items]) +mean_all+column_averages[item_id]-mean_all+row_averages[user_id]-mean_all
    predicted_ratings.append(predicted_rating)
    actual_ratings.append(actual_rating)

predicted_ratings = np.array(predicted_ratings)
actual_ratings = np.array(actual_ratings)
mae = mean_absolute_error(actual_ratings, predicted_ratings)
rmse = np.sqrt(mean_squared_error(actual_ratings, predicted_ratings))

print("Mean Absolute Error:", mae)
print("Root Mean Squared Error:", rmse)

Mean Absolute Error: 0.7595334732505445
Root Mean Squared Error: 0.9704709003748508

# part3

In [175]:
hybrid_predictions = []

for row in val_data.itertuples():
    user_id = row.user_id - 1
    item_id = row.item_id - 1
    similar_users = np.argsort(user_similarity[user_id])[-100:]
    collaborative_prediction = np.mean(user_item_matrix[similar_users, item_id])
    similar_items = np.argsort(item_similarity[item_id])[-100:]
    content_based_prediction = np.mean(user_item_matrix[user_id, similar_items])
    mean_all = 3.529860
    hybrid_prediction = 0.6 * collaborative_prediction + 0.4 * content_based_prediction+mean_all+column_averages[item_id]-mean_all+row_averages[user_id]-mean_all
    hybrid_predictions.append(hybrid_prediction)
actual_ratings = val_data['rating']
hybrid_predictions = np.array(hybrid_predictions)
mae = mean_absolute_error(actual_ratings, hybrid_predictions)
rmse = np.sqrt(mean_squared_error(actual_ratings, hybrid_predictions))
print("Mean Absolute Error (MAE):", mae)
print("Root Mean Squared Error (RMSE):", rmse)

Mean Absolute Error (MAE): 0.7573446110649472
Root Mean Squared Error (RMSE): 0.9721680151203498

# part4

In [211]:
from sklearn.decomposition import TruncatedSVD
svd = TruncatedSVD(n_components=20, random_state=42)
user_factors = svd.fit_transform(user_item_matrix)
item_factors = svd.components_.T
item_similarity = cosine_similarity(item_factors)
hybrid_predictions = []

for row in val_data.itertuples():
    user_id = row.user_id - 1
    item_id = row.item_id - 1
    similar_items = np.argsort(item_similarity[item_id])[-100:]
    content_based_prediction = np.mean(user_item_matrix[user_id, similar_items])
    hybrid_prediction = 0.8 * item_factors[item_id] @ user_factors[user_id] + 0.2 * content_based_prediction+mean_all+column_averages[item_id]-mean_all+row_averages[user_id]-mean_all
    hybrid_predictions.append(hybrid_prediction)

actual_ratings = val_data['rating']
hybrid_predictions = np.array(hybrid_predictions)

mae = mean_absolute_error(actual_ratings, hybrid_predictions)
rmse = np.sqrt(mean_squared_error(actual_ratings, hybrid_predictions))

print("Mean Absolute Error (MAE):", mae)
print("Root Mean Squared Error (RMSE):", rmse)

Mean Absolute Error (MAE): 1.288803190354534
Root Mean Squared Error (RMSE): 1.5933181951144897

In [195]:
val_data

       user_id  item_id  rating  timestamp
75721      877      381       4  882677345
80184      815      602       3  878694269
19864       94      431       4  891721716
76699      416      875       2  876696938
92991      500      182       2  883873556
...        ...      ...     ...        ...
32595       72      591       5  880035708
29313      523      393       5  883702411
37862      606      287       4  880921656
53421      650      612       4  891369656
42410      303       72       3  879485111

[20000 rows x 4 columns]

In [218]:
from sklearn.cluster import KMeans
user_item_svd = svd.fit_transform(user_item_matrix)
kmeans = KMeans(n_clusters=5, random_state=42)
cluster_labels = kmeans.fit_predict(genre_matrix)
hybrid_predictions = []

for row in val_data.itertuples():
    user_id = row.user_id - 1
    item_id = row.item_id - 1
    collaborative_prediction = item_factors[item_id] @ user_factors[user_id]
    target_cluster = cluster_labels[item_id]
    cluster_items = np.where(cluster_labels == target_cluster)[0]
    cluster_ratings = user_item_matrix[user_id, cluster_items]
    cluster_average = np.mean(cluster_ratings)
    hybrid_prediction = 0.7 * collaborative_prediction + 0.3 * cluster_average+mean_all+column_averages[item_id]-mean_all+row_averages[user_id]-mean_all

    hybrid_predictions.append(hybrid_prediction)
    top_items = np.argsort(hybrid_predictions)[-k:]  
    true_items = user_item_matrix[user_id, :].nonzero()[0]  

    num_common_items = len(set(top_items) & set(true_items))
    precision = num_common_items / k
    recall = num_common_items / len(true_items)

    precision_sum += precision
    recall_sum += recall
actual_ratings = val_data['rating']
hybrid_predictions = np.array(hybrid_predictions)

mae = mean_absolute_error(actual_ratings, hybrid_predictions)
rmse = np.sqrt(mean_squared_error(actual_ratings, hybrid_predictions))

print("Mean Absolute Error (MAE):", mae)
print("Root Mean Squared Error (RMSE):", rmse)

C:\Users\user\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

Mean Absolute Error (MAE): 1.1830442738216032
Root Mean Squared Error (RMSE): 1.4657327686906139